*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    background-color: var(--prim-col);
    
}

.container{
    /* width: 30%; */
    /* height: 30vh; */
    background-color: var(--seco-col);
    border-radius: 5vh;
    padding: 2vh;
    gap: 8vh;
}
.container .screen{
    width: 100%;
    height: 10vh;
    background-color: var(--prim-col);
    font-size: xx-large;
    padding: 2vh;
    border-radius: 3vh;
    color: var(--seco-col);
}
.container .btns{
    gap: 1vw;
}
.container .btn{
    padding: 2vh 2vw;
    border-radius: 2vh;
    background-color: var(--prim-col);
    color: var(--seco-col);
    font-weight: 600;
    cursor: pointer;
    border: 0.5vh solid transparent;

}

.btn:hover{
    background-color: transparent;
    color: var(--prim-col);
    border: 0.5vh solid var(--prim-col);
}


@media (max-width : 900px) {
    .container .btn{
        padding: 2vh 2.5vw;
    }
    
}

@media (max-width : 800px) and (min-width : 600px) {
    .container .btn{
        padding: 2vh 3vw;
    }
    .container .screen{
        font-size: x-large;
    }
}
@media (max-width : 600px) {
    .container{
        gap: 10vh;
    }
    .container .screen{
        font-size: x-large;
    }
    .container .btns{
        gap: 2vw;
    }
    .container .btn{
    padding: 2vh 4vw;

    }
}